{% extends "base.html" %}

{% block content %}
<!-- start slider Section -->
<section id="slider_sec">
    <div class="container">
        <div class="wrap_caption">
            <div class="caption_carousel">
                <h1>GENERA</h1>
                <p>the Green ENERgy Advisor</p>
            </div>                        
        </div>
    </div>  
</section>
<!-- End slider Section -->

<!-- start about Section -->
<section id="abt_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>INFO</h1>
                    <h2>La missione di GENERA</h2>
                </div>          
            </div>      
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="abt">
                    <p>Il nostro obbiettivo è quello di incentivare l'utilizzo </p>
                </div>
            </div>          
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- start Counting section-->
<section id="counting_sec">
<div class="container">
    <div class="row">   

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="counting_sl">
            <i class="fa fa-leaf"></i>
            <h2 class="counter">10000</h2>
            <h4>Impianti Green Energy</h4>  
            </div>
        </div>          
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="counting_sl">
            <i class="fa fa-desktop"></i>
            <h2 class="counter">20,210</h2>
            <h4>Energia rinnovabile prodotta annualmente</h4>   
            </div>
        </div>          
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="counting_sl">
            <i class="fa fa-ticket"></i>
            <h2 class="counter">26.9</h2>
            <h4>Fabbisogno soddisfatto</h4>   
            </div>
        </div>          
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="counting_sl">
            <i class="fa fa-clock-o"></i>
            <h2 class="counter">45,105</h2>
            <h4>Superficie disponibile</h4>  
            </div>
        </div>                                      
    </div>                  
</div>
</section>


<!-- start progress bar Section -->
<section id="skill_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>Our Skill diagram</h1>
                    <h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
                </div>          
            </div>          
          <div class="skills progress-bar1">          
                <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
                      <li class="progress">
                            <div class="progress-bar" data-width="17">
                                  Idroelttrico 17%
                            </div>
                      </li>
                      <li class="progress">
                            <div class="progress-bar" data-width="4.4">
                                  Eolico 4.4%       
                            </div>
                      </li>
                      <li class="progress">
                            <div class="progress-bar" data-width="6.5">
                                  Fotovoltaico 6.5%
                            </div>
                      </li>
                      <li class="progress">
                            <div class="progress-bar" data-width="1.7">
                                  Geotermico 1.7%
                            </div>
                      </li>
                </ul>
                <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight">
                      <li class="progress">
                            <div class="progress-bar" data-width="5.5">
                                  Biomasse 5.5%
                            </div>
                      </li>
                      <li class="progress">
                            <div class="progress-bar" data-width="35.1">
                                  Fabbisogno Energetico coperto con rinnovabili 35.1%
                            </div>
                      </li>
                      <li class="progress">
                            <div class="progress-bar" data-width="70">
                                  IT Consultency 70%
                            </div>
                      </li>
                      <li class="progress">
                            <div class="progress-bar" data-width="90">
                                  Theme Development 90%
                            </div>
                      </li>
                </ul>
          </div>
        </div>
    </div>
</section>
<!-- End progress bar Section -->

<!-- start portfolio Section -->
<section id="protfolio_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>Our Portfolio</h1>
                    <h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
                </div>          
            </div>      
            <div class="col-lg-12">
                <div class="portfolio-filter text-uppercase text-center">
                <ul class="filter">
                <li class="active" data-filter="*">All</li>
                <li data-filter=".web-design">Web Design</li>
                <li data-filter=".graphic">Graphic</li>
                <li data-filter=".photography">Photography</li>
                <li data-filter=".motion-video">Motion video</li>
                </ul>
                </div>
                 
                <div class="all-portfolios">
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio web-design">
                    <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_06.jpg" alt="">
                    </div>              
                    </div>              
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio web-design">
                    <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_01.jpg" alt="">
                    </div>              
                    </div>                  
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio web-design">
                    <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_02.jpg" alt="">
                    </div>              
                    </div>                  
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio graphic">
                    <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_03.jpg" alt="">
                    </div>              
                    </div>                  
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio web-design">
                    <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_04.jpg" alt="">
                    </div>              
                    </div>                  
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio photography">
                    <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_05.jpg" alt="">
                    </div>              
                    </div>              
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio web-design">
                    <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_07.jpg" alt="">
                    </div>              
                    </div>              
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio web-design">
                    <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_08.jpg" alt="">
                    </div>              
                    </div>              
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio photography">
                    <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_08.jpg" alt="">
                    </div>              
                    </div>              
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio web-design">
                    <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_08.jpg" alt="">
                    </div>              
                    </div>                  
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio web-design">
                    <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_09.jpg" alt="">
                    </div>              
                    </div>          
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio photography">
                    <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_08.jpg" alt="">
                    </div>              
                    </div>
                </div>


            </div>
                <div class="post_btn">
                    <div class="hover_effect_btn" id="hover_effect_btn">
                        <a href="#hover_effect_btn" data-hover="view more post"><span>view more post</span></a>
                    </div>
                </div>  
            </div>          
        </div>
</section>
<!-- End Portfolio Section -->

<!-- start our team Section -->
<section id="tm_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>Our Team</h1>
                    <h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
                </div>          
            </div>      
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12">
                <div class="all_team">
                    <div class="sngl_team">                     
                        <img src="http://wedesignthemes.com/themes/dt-mountcool/wp-content/uploads/2015/10/img-1.png" alt=""/>  
                        <h3> Alessandro Santoni </h3>
                        <span> CEO </span>
                    </div>                  
                    <div class="sngl_team">                     
                        <img src="http://wedesignthemes.com/themes/dt-mountcool/wp-content/uploads/2015/10/img-2.png" alt=""/>  
                        <h3> Riccardo Serafini </h3>
                        <span> CTO </span>
                    </div>              
                    <div class="sngl_team">                     
                        <img src="http://wedesignthemes.com/themes/dt-mountcool/wp-content/uploads/2015/10/img-3.png" alt=""/>  
                        <h3> Filippo Serafini </h3>
                        <span> COO </span>
                    </div>                                                  
                </div>          
            </div>
        </div>
    </div>
</section>
<!-- End our team Section -->

<!-- start our teastimonial Section -->
<section id="tstm_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="all_tstm">
                    
                <div class="clnt_tstm">
                    <div class="sngl_tstm">
                        <i class="fa fa-quote-right"></i>
                        <h3>what people say?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                        <h6>- jhon deo</h6>                 
                    </div>
                </div>                      
                
                <div class="clnt_tstm">
                    <div class="sngl_tstm">
                        <i class="fa fa-quote-right"></i>
                        <h3>Clien Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                        <h6>- shura deo</h6>                    
                    </div>
                </div>              
                <div class="clnt_tstm">
                    <div class="sngl_tstm">
                        <i class="fa fa-quote-right"></i>
                        <h3>Awesome Support SIMA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                        <h6>- kumara deo</h6>                   
                    </div>
                </div>              
                <div class="clnt_tstm">
                    <div class="sngl_tstm">
                        <i class="fa fa-quote-right"></i>
                        <h3>Theme Feature great</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                        <h6>- dhera deo</h6>                    
                    </div>
                </div>              
                <div class="clnt_tstm">
                    <div class="sngl_tstm">
                        <i class="fa fa-quote-right"></i>
                        <h3>Non conflict</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                        <h6>- jhon deo</h6>                 
                    </div>
                </div>  
                    
                </div>
            </div>  
        </div>
    </div>
</section>
<!-- End our teastimonial Section -->

<!-- start contact us Section -->
<section id="ctn_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>Contatti</h1>
                    <h2>Scrivici per avere qualsiasi informazione ti possa essere utile</h2>
                </div>          
            </div>      
            <div class="col-sm-6"> 
                <div id="cnt_form">
                    <form id="contact-form" class="contact" name="contact-form" method="post" action="send-mail.php">
                        <div class="form-group">
                        <input type="text" name="name" class="form-control name-field" required="required" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control mail-field" required="required" placeholder="Email">
                        </div> 
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Messaggio"></textarea>
                        </div> 
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Invia</button>
                        </div>
                    </form> 
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cnt_info">
                    <ul>
                        <li><i class="fa fa-globe"></i><p>Via Giovanni Pascoli 1, Fabriano (AN), 60044, Italy</p></li>
                        <li><i class="fa fa-envelope"></i><p>info@hackreativity.com</p></li>
                        <li><i class="fa fa-phone"></i><p>+39 0732 123456</p></li>
                    </ul>
                </div>
            </div>          
        </div>
    </div>
</section>
<!-- End contact us  Section -->

{% endblock %}
