{% extends "base.html" %}

{% block content %}

<style>
.img-responsive {
    object-fit: cover;
}
</style>

<!-- start slider Section -->
<section id="slider_sec">
    <div class="container">
        <div class="wrap_caption">
            <div class="caption_carousel">
                <h1>GENERA</h1>
                <p>the Green ENERgy Advisor</p>
            </div>                        
        </div>
    </div>  
</section>
<!-- End slider Section -->

<!-- start about Section -->
<section id="abt_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>ABOUT</h1>
                    <h2>L'obiettivo di GENERA</h2>
                </div>          
            </div>      
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="abt">
                    <p>Per agevolare lo sviluppo e l'aumento di impianti
                    e produzione di energia rinnovabile, GENERA vuole essere un
                    punto di incontro tra privati e aziende del settore. Scopo
                    comune: incrementare la propria indipendenza energetica
                    tramite installazioni su misura di impianti Green.</p>
                </div>
            </div>          
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- start Counting section-->
<section id="counting_sec">
<div class="container">
    <div class="row">   

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="counting_sl">
            <i class="fa fa-leaf"></i>
            <h2 class="counter">{{ impianti_count }}</h2>
            <h4>Impianti Green Mappati</h4>  
            </div>
        </div>          
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="counting_sl">
            <i class="fa fa-bolt"></i>
            <h2><span class="counter">121</span> TWh</h2>
            <h4>Produzione italiana energia rinnovabile</h4>   
            </div>
        </div>          
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="counting_sl">
            <i class="fa fa-pie-chart"></i>
            <h2><span class="counter">26.9</span>%</h2>
            <h4>Fabbisogno soddisfatto dal rinnovabile</h4>   
            </div>
        </div>          
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="counting_sl">
            <i class="fa fa-map-o"></i>
            <h2><span class="counter">6000</span> km²</h2>
            <h4>Suolo sfruttabile per impianti green</h4>
            </div>
        </div>                                      
    </div>                  
</div>
</section>

<!-- start progress bar Section -->
<section id="skill_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>Distribuzione della produzione energetica rinnovabile italiana</h1>
                    <h2></h2>
                </div>          
            </div>          
          <div class="skills progress-bar1">          
                <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
                      <li class="progress">
                            <div class="progress-bar" data-width="55">
                                  Solare 22.3 TWh
                            </div>
                      </li>
                      <li class="progress">
                            <div class="progress-bar" data-width="27">
                                  Geotermico 6 TWh 
                            </div>
                      </li>
                      <li class="progress">
                            <div class="progress-bar" data-width="48">
                                  Biomasse 18.7 TWh
                            </div>
                      </li>
                </ul>
                <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight">
                      <li class="progress">
                            <div class="progress-bar" data-width="40">
                                  Eolico 15.2 TWh
                            </div>
                      </li>
                      <li class="progress">
                            <div class="progress-bar" data-width="85">
                                  Idroelettrico 58.5 TWh
                            </div>
                      </li>
                      <li class="progress">
                            <div class="progress-bar" data-width="32">
                                  Incremento dal 2014 7%
                            </div>
                      </li>
                </ul>
          </div>
        </div>
    </div>
</section>
<!-- End progress bar Section -->

<!-- start portfolio Section -->
<section id="protfolio_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>I NOSTRI PRODOTTI</h1>
                    <h2>Energia pulita in tutte le sue forme</h2>
                </div>          
            </div>      
            <div class="col-lg-12">
                <div class="portfolio-filter text-uppercase text-center">
                    <ul class="filter">
                        <li class="active" data-filter="*">All</li>
                        {% for t in tipologie %}
                            <li data-filter=".{{ t.nome|slugify }}">{{ t.nome }}</li>
                        {% endfor %}
                    </ul>
                </div>
                 
                <div class="all-portfolios">
                    {% for p in prodotti %}
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio {{ p.tipologia|slugify }}" style="background-image: url('/files/{{ p.immagine }}'); background-size: cover; height: 220px;">
                            <!-- <img class="img-responsive" src="/files/{{ p.immagine }}" alt=""> -->
                        </div>              
                    </div>       
                    {% endfor %}
                </div>


            </div>
                
            </div>          
        </div>
</section>
<!-- End Portfolio Section -->

<!-- start our team Section -->
<section id="tm_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>IL NOSTRO TEAM</h1>
                    <h2>Il team dietro questa applicazione è originario del
                        centro Italia. Da sempre immersi in una realtà
                        particolarmente attenta all'ambiente, si focalizzano
                        nella creazione di un punto di incontro tra cliente
                        e produttore per la diffusione di energie rinnovabili</h2>
                </div>          
            </div>      
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12">
                <div class="all_team">
                    <div class="sngl_team">                     
                        <img src="/static/sito/img/alessandro.jpg" alt=""/>  
                        <h3> Alessandro Santoni </h3>
                        <span> CEO </span>
                    </div>                  
                    <div class="sngl_team">                     
                        <img src="/static/sito/img/riccardo.gif" alt=""/>  
                        <h3> Riccardo Serafini </h3>
                        <span> CTO </span>
                    </div>              
                    <div class="sngl_team">                     
                        <img src="/static/sito/img/filippo.jpg" alt=""/>  
                        <h3> Filippo Serafini </h3>
                        <span> COO </span>
                    </div>                                                  
                </div>          
            </div>
        </div>
    </div>
</section>
<!-- End our team Section -->

<!-- start contact us Section -->
<section id="ctn_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>Contatti</h1>
                    <h2>Scrivici per avere qualsiasi informazione ti possa essere utile</h2>
                </div>          
            </div>      
            <div class="col-sm-6"> 
                <div id="cnt_form">
                    <form id="contact-form" class="contact" name="contact-form" method="post" action="send-mail.php">
                        <div class="form-group">
                        <input type="text" name="name" class="form-control name-field" required="required" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control mail-field" required="required" placeholder="Email">
                        </div> 
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Messaggio"></textarea>
                        </div> 
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Invia</button>
                        </div>
                    </form> 
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cnt_info">
                    <ul>
                        <li><i class="fa fa-globe"></i><p>Via Giovanni Pascoli 1, Fabriano (AN), 60044, Italy</p></li>
                        <li><i class="fa fa-envelope"></i><p>info@hackreativity.com</p></li>
                        <li><i class="fa fa-phone"></i><p>+39 0732 123456</p></li>
                    </ul>
                </div>
            </div>          
        </div>
    </div>
</section>
<!-- End contact us  Section -->

{% endblock %}
