{% extends "base.html" %}

{% block content %}

<style>
#map {
    height: 500px;
}

#livemap {
    margin-top: 150px;
}
</style>

<section id="livemap">
    <div class="container">
        <div class="row">
             <div id="map"></div>
        </div>          
    </div>  
</section>

{% endblock %}

{% block bottom_script %}
<script>
    window.map = L.map('map').setView([43.33316939281735, 13.364868164062502], 9);
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
        {
            maxZoom: 19
        }
    ).addTo(map);
</script>


{% endblock %}