{% extends "base.html" %} 

{% block content %}
<section id="login" style="height: 450px;
background-color: #ffffff;
background-image: url(static/sito/img/login.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: bottom center;
background-attachment: fixed;">

    <div class="container">                                                                                                                       
        <div class="wrap_caption">
            <div class="caption_carousel">
                <p>Pagina in construzione</p>
            </div>
        </div>
    </div>

</section>
{% endblock %}
